/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Karla:wght@300&family=Silkscreen&display=swap');


/* Basic style */
body {
    background-color: #0e2940;
    color: #f0f0d7;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h1 {
    font-size: 40px;
    font-family: 'Silkscreen', cursive;
}
a {
    color: #999;
    text-decoration: none;
}
button {
    background-color: #1e3f5c;
    color: #cacab4;
    margin: 10px;
    border: 0;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 900;
}
button:hover {
    background-color: #2c587e;
}

/* Board Stye */
#board {
    display: flex;
    justify-content: center;
    flex: 1;
}
#grid-board {
    height: 720px;
    width: 720px;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #d4d4d4;
}
.controls {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Amatic SC', serif;
    font-size: 25px;
}
.controls-left {
    margin-right: 50px;
}
.controls-right {
    margin-left: 50px;
}
.control-item {
    margin-bottom: 15px;
}

#output-slider-value {
    background: #ddd;
    color: #222;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clear-board {
    background-color: #d4d4d4;
    color: #222;
}
#cells-to-black-color {
    color: white;
}
.random-bg {
    background: linear-gradient(135deg, rgb(255, 46, 46),rgb(255, 189, 66),rgb(255, 255, 131),rgb(98, 194, 98),rgb(110, 110, 252),rgb(145, 80, 192));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cells-to-base-color {
    color: white;
}

#active-black-color {
    background-color: #222;
    color: #d4d4d4;
}
#active-random-color {
    background-image: linear-gradient(135deg, rgb(255, 46, 46),rgb(255, 189, 66),rgb(255, 255, 131),rgb(98, 194, 98),rgb(110, 110, 252),rgb(145, 80, 192));
    color: #222;
}
#active-base-color {
    background-color: #d4d4d4;
    color: #222;
}

/* Footer style */
footer {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
}