/* Basic style */
body {
    background-color: #222;
    color: #ddd;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
a {
    color: #999;
    text-decoration: none;
}
button {
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.title {
    font-size: 35px;
}

/* Board Stye */
#board {
    display: flex;
    justify-content: center;
    flex: 1;
}
#grid-board {
    height: 720px;
    width: 720px;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #000000;
}
.controls {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.controls-left {
    margin-right: 50px;
}
.controls-right {
    margin-left: 50px;
}
.control-item {
    margin-bottom: 15px;
}

#output-slider-value {
    background: #ddd;
    color: #222;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer style */
footer {
    text-align: center;
}